<div>
    <app-lang-swap></app-lang-swap>
</div>
<div class="flex justify-center">
    <div class="relative">
        <img alt="Marc main picture"
             class="main-pic object-cover w-screen md:w-auto h-auto md:h-screen rounded-full aspect-square p-4 md:p-8"
             src="assets/img/main-pic.jpg">
        <h1 class="text-xl md:text-5xl floating-title">
            <p>{{ 'MAIN.HEADER_1' | translate }}</p>
            <p>{{ 'MAIN.HEADER_2' | translate }}</p>
        </h1>
    </div>
</div>
