<ng-container *ngIf="character$ | async as character">
    <ngt-group>
        <ngt-primitive [object]="character.nodes['Hips']"></ngt-primitive>
        <ngt-skinned-mesh
                [geometry]="character.nodes.Wolf3D_Body.geometry"
                [material]="character.materials.Wolf3D_Body"
                [skeleton]="character.nodes.Wolf3D_Body.skeleton"
        ></ngt-skinned-mesh>
        <ngt-skinned-mesh
                [geometry]="character.nodes.Wolf3D_Glasses.geometry"
                [material]="character.materials.Wolf3D_Glasses"
                [skeleton]="character.nodes.Wolf3D_Glasses.skeleton"
        ></ngt-skinned-mesh>
        <ngt-skinned-mesh
                [geometry]="character.nodes.Wolf3D_Hair.geometry"
                [material]="character.materials.Wolf3D_Hair"
                [skeleton]="character.nodes.Wolf3D_Hair.skeleton"
        ></ngt-skinned-mesh>
        <ngt-skinned-mesh
                [geometry]="character.nodes.Wolf3D_Outfit_Bottom.geometry"
                [material]="character.materials.Wolf3D_Outfit_Bottom"
                [skeleton]="character.nodes.Wolf3D_Outfit_Bottom.skeleton"
        ></ngt-skinned-mesh>
        <ngt-skinned-mesh
                [geometry]="character.nodes.Wolf3D_Outfit_Footwear.geometry"
                [material]="character.materials.Wolf3D_Outfit_Footwear"
                [skeleton]="character.nodes.Wolf3D_Outfit_Footwear.skeleton"
        ></ngt-skinned-mesh>
        <ngt-skinned-mesh
                [geometry]="character.nodes.Wolf3D_Outfit_Top.geometry"
                [material]="character.materials.Wolf3D_Outfit_Top"
                [skeleton]="character.nodes.Wolf3D_Outfit_Top.skeleton"
        ></ngt-skinned-mesh>
        <ngt-skinned-mesh
                [geometry]="character.nodes.EyeLeft.geometry"
                [material]="character.nodes.EyeLeft.material"
                [morphTargetDictionary]="character.nodes.EyeLeft.morphTargetDictionary"
                [morphTargetInfluences]="character.nodes.EyeLeft.morphTargetInfluences"
                [skeleton]="character.nodes.EyeLeft.skeleton"
                name="EyeLeft"
        ></ngt-skinned-mesh>
        <ngt-skinned-mesh
                [geometry]="character.nodes.EyeRight.geometry"
                [material]="character.nodes.EyeRight.material"
                [morphTargetDictionary]="character.nodes.EyeRight.morphTargetDictionary"
                [morphTargetInfluences]="character.nodes.EyeRight.morphTargetInfluences"
                [skeleton]="character.nodes.EyeRight.skeleton"
                name="EyeRight"
        ></ngt-skinned-mesh>
        <ngt-skinned-mesh
                [geometry]="character.nodes.Wolf3D_Head.geometry"
                [material]="character.materials.Wolf3D_Skin"
                [morphTargetDictionary]="character.nodes.Wolf3D_Head.morphTargetDictionary"
                [morphTargetInfluences]="character.nodes.Wolf3D_Head.morphTargetInfluences"
                [skeleton]="character.nodes.Wolf3D_Head.skeleton"
                name="Wolf3D_Head"
        ></ngt-skinned-mesh>
        <ngt-skinned-mesh
                [geometry]="character.nodes.Wolf3D_Teeth.geometry"
                [material]="character.materials.Wolf3D_Teeth"
                [morphTargetDictionary]="character.nodes.Wolf3D_Teeth.morphTargetDictionary"
                [morphTargetInfluences]="character.nodes.Wolf3D_Teeth.morphTargetInfluences"
                [skeleton]="character.nodes.Wolf3D_Teeth.skeleton"
                name="Wolf3D_Teeth"
        ></ngt-skinned-mesh>
    </ngt-group>
</ng-container>
