/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Ubuntu Mono", sans-serif !important;
}

html {
  background: rgb(30, 91, 231);
  background: linear-gradient(112deg, rgba(30, 91, 231, 1) 0%, rgba(186, 144, 200, 1) 100%);
}
